.rc-root {
  overflow: hidden;
  padding: 0.5rem;
}

.rc-viewbox {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
}

.rc-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2rem;
  opacity: 0;
  color: white;
  transition: all 0.3s ease-out;
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.rc-arrow:hover {
  opacity: 1;
}

.rc-items {
  display: flex;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.rc-item {
  width: 100%;
}

.rc-thumbnails {
  display: flex;
  overflow: auto;
  margin-top: 1rem;
}

.rc-thumbnail {
  cursor: pointer;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.2s ease-out;
}

.rc-thumbnail:first-child {
  margin-left: 0;
}

.rc-thumbnail:last-child {
  margin-right: 0;
}

.rc-thumbnail:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
